In [19]:
import geopandas as gpd
from shapely.geometry import Point

In [12]:
gdf = gpd.read_file('boars.csv')
gdf.crs = 'epsg:2056'

In [25]:
gdf = gpd.GeoDataFrame(
    gdf, geometry=gpd.points_from_xy(gdf.E, gdf.N))

gdf

,TierID,TierName,CollarID,DatetimeUTC,E,N,geometry
0,1,Ueli,12272,2014-05-28 21:01:14,2570389.88785193,1204820.18061379,POINT (2570389.888 1204820.181)
1,1,Ueli,12272,2014-05-28 21:15:18,2570388.66972115,1204826.07884577,POINT (2570388.670 1204826.079)
2,1,Ueli,12272,2014-05-28 21:30:13,2570390.51722456,1204821.31144589,POINT (2570390.517 1204821.311)
3,1,Ueli,12272,2014-05-28 21:45:11,2570387.68677463,1204825.73910209,POINT (2570387.687 1204825.739)
4,1,Ueli,12272,2014-05-28 22:00:33,2570388.16231999,1204818.88847828,POINT (2570388.162 1204818.888)
...,...,...,...,...,...,...,...
327250,84,Gaby,12274,2016-10-17 12:15:08,2569446.79285511,1205628.75337682,POINT (2569446.793 1205628.753)
327251,84,Gaby,12274,2016-10-17 13:15:08,2569446.54200186,1205627.29829577,POINT (2569446.542 1205627.298)
327252,84,Gaby,12274,2016-10-17 14:15:08,2569448.7699334,1205627.19791475,POINT (2569448.770 1205627.198)
327253,84,Gaby,12274,2016-10-17 15:15:08,2569446.79982101,1205630.10965458,POINT (2569446.800 1205630.110)
327254,84,Gaby,12274,2016-10-17 16:15:16,2569448.77695595,1205628.56530954,POINT (2569448.777 1205628.565)

In [39]:
Sau = gdf.TierName == "Ueli"
gdf[Sau]

,TierID,TierName,CollarID,DatetimeUTC,E,N,geometry
0,1,Ueli,12272,2014-05-28 21:01:14,2570389.88785193,1204820.18061379,POINT (2570389.888 1204820.181)
1,1,Ueli,12272,2014-05-28 21:15:18,2570388.66972115,1204826.07884577,POINT (2570388.670 1204826.079)
2,1,Ueli,12272,2014-05-28 21:30:13,2570390.51722456,1204821.31144589,POINT (2570390.517 1204821.311)
3,1,Ueli,12272,2014-05-28 21:45:11,2570387.68677463,1204825.73910209,POINT (2570387.687 1204825.739)
4,1,Ueli,12272,2014-05-28 22:00:33,2570388.16231999,1204818.88847828,POINT (2570388.162 1204818.888)
...,...,...,...,...,...,...,...
23909,1,Ueli,12844,2016-09-14 22:30:18,2573647.1746093,1203170.754756,POINT (2573647.175 1203170.755)
23910,1,Ueli,12844,2016-09-14 22:45:16,2573645.64026415,1203159.32191237,POINT (2573645.640 1203159.322)
23911,1,Ueli,12844,2016-09-14 23:00:20,2573643.43255418,1203169.35944414,POINT (2573643.433 1203169.359)
23912,1,Ueli,12844,2016-09-14 23:15:14,2573656.21776003,1203137.29627889,POINT (2573656.218 1203137.296)
23913,1,Ueli,12844,2016-09-14 23:30:12,2573731.18889022,1203027.50442863,POINT (2573731.189 1203027.504)

In [40]:
for name in gdf.TierName.unique(): 
    Sau = gdf.TierName == f"{name}"
    gdf[Sau].to_file(f'{name}.gpkg', driver='GPKG', layer=name)